@charset "utf-8";
@import "./public.less";
@import "./i-head.less";
@import "./i-main.less";
@import "./i-foot.less";
@import "./i-totop.less";
.topbar{
    a{
        color:@gray;
        font-size: 12px;
        &:hover{
            color:@white;
        }
    }
    span{
        color:#424242;
        padding:2px;
    }
    .nav-right{
        width: 120px;
        height: 40px;
        margin-left: 15px;
        text-align: center;
        background:#424242;
        position: relative;
        >a{
            display: block;
            text-align: center;
            height: 40px;
            line-height: 40px;
            span{
                color:@gray;
                font-weight: 900;
                font-size: 18px;
                vertical-align: -3px;
            }
            em{
                vertical-align: top;
            }
            &:hover{
                span{
                    color:#ff6700;
                }
                background: @white;
                color:#ff6700;
            }
        }        
    } 
    .cartls{
        position: absolute;
        z-index: 10;
        background-color: #fff;
        left: -196px;
        top: 40px;
        border: 1px solid #000;
        width: 316px;
        height:300px;
        padding-top: 20px;
        color:#424242;
        li{
            padding:0 20px;            
            >div{
                padding: 10px 0;
                border-top: 1px solid #e0e0e0;
            }
            &:first-child{
                div{
                    border-top: none;
                }
            }
        }
        img{
            height: 60px;
            width: 60px;
            display: block;
        }
    }
}