body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
table,
tr,
td,
form,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
img,
input {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  background: #fff;
  color: #b0b0b0;
}
body {
  display: flex;
  flex-direction: column;
}
img {
  display: block;
}
i,
b,
strong,
em {
  font-weight: normal;
  font-style: normal;
}
a {
  margin: 0;
  text-decoration: none;
  color: #333;
}
li,
ol {
  list-style: none;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content {
  width: 1226px;
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.shop {
  width: 100%;
}
footer {
  width: 100%;
}
.ftservice {
  text-align: center;
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
.ftservice li {
  width: 20%;
  float: left;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
}
.ftservice li a {
  font-size: 16px;
  color: #616161;
  transition: color 0.2s;
}
.ftservice li a i {
  margin-right: 6px;
  font-size: 20px;
  vertical-align: -2px;
}
.ftservice li a:hover {
  color: #ff6700;
}
.ftservice li:last-child {
  border: none;
}
.ftservice li > span {
  position: absolute;
  right: 0;
}
.ftlink {
  padding: 40px 0;
}
.ftlink-ls > div {
  float: left;
}
.ftlink-ls > div .title {
  width: 160px;
  margin-bottom: 27px;
  margin-top: 0;
  font-size: 14px;
  color: #424242;
}
.ftlink-ls > div li {
  width: 160px;
  margin-top: 10px;
}
.ftlink-ls > div li a {
  font-size: 12px;
  color: #757575;
}
.ftlink-ls > div li a:hover {
  color: #ff6700;
}
.ftlink-m {
  width: 252px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
}
.ftlink-m > h3 {
  color: #ff6700;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 5px;
}
.ftlink-m > p {
  margin-bottom: 5px;
  font-size: 12px;
  color: #616161;
}
.ftlink-m .customer {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  margin: 1px;
  border: 1px solid #ff6700;
  color: #ff6700;
  font-size: 12px;
  background-color: #fff;
}
.ftlink-m .customer:hover {
  background-color: #ff6700;
  color: #fff;
  transition: all 0.2s;
}
.ftlink-m > div {
  margin-top: 10px;
  color: #616161;
  font-size: 12px;
}
.ftlink-m > div a {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 6px;
  margin-top: -3px;
  background-size: cover;
  vertical-align: middle;
}
.ftlink-m > div a:hover {
  color: #ff6700;
}
.ftlink-m > div a:nth-of-type(1) {
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wb.png) 50% 0 no-repeat;
  background-size: cover;
}
.ftlink-m > div a:nth-of-type(2) {
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wx.png) 50% 0 no-repeat;
  background-size: cover;
}
.site-info {
  padding: 30px;
  background-color: #fafafa;
  font-size: 12px;
}
.info-text {
  padding-left: 67px;
  color: #b0b0b0;
}
.info-text .sites > a {
  color: #757575;
  font-size: 12px;
}
.info-text p {
  line-height: 18px;
}
.info-text p > a {
  color: #b0b0b0;
  font-size: 12px;
}
.info-links {
  margin-top: 4px;
  margin-bottom: 15px;
  height: 28px;
}
.info-links a {
  display: inline-block;
  width: 85px;
  height: 33px;
}
.info-links a img {
  display: block;
  width: 85px;
  height: 28px;
}
.info-links a:last-child {
  width: 150px;
  height: 40px;
}
.info-links a:last-child img {
  display: block;
  width: 106px;
  height: 40px;
}
.slogan {
  width: 100%;
  height: 19px;
  margin-top: 30px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png) no-repeat center;
}
.home-tool-bar {
  width: 84px;
  position: fixed;
  right: 0;
  top: 32%;
}
.home-tool-bar ul {
  border: 1px solid #f5f5f5;
  border-bottom: none;
  background-color: #fff;
}
.home-tool-bar li {
  width: 82px;
  height: 90px;
  margin: 1px;
  border-bottom: 1px solid #f5f5f5;
}
.home-tool-bar li a {
  text-align: center;
  color: #757575;
  transition: color 0.3s;
}
.home-tool-bar li a:hover {
  color: #ff6700;
}
.home-tool-bar li a img {
  padding-top: 18px;
  margin: 0 auto 8px;
  width: 30px;
  height: 30px;
}
.totop {
  border: 1px solid #f5f5f5;
  margin-top: 14px;
  background-color: #fff;
}
.totop a {
  display: block;
  width: 82px;
  height: 90px;
  margin: 1px;
  text-align: center;
  color: #757575;
  transition: color 0.3s;
}
.totop a:hover {
  color: #ff6700;
}
.totop a img {
  padding-top: 18px;
  margin: 0 auto 8px;
  width: 30px;
  height: 30px;
}
.static {
  display: block;
}
.hover {
  display: none;
}
header {
  width: 100%;
}
.header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
}
.advertising {
  width: 100%;
  height: 120px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bb3c06a430689ba2357dd7d1fbfa6bab.jpg) center no-repeat;
  background-size: auto 120px;
}
.advertising > a {
  display: block;
  width: 100%;
  height: 100%;
}
.topbar a {
  color: #b0b0b0;
  font-size: 12px;
}
.topbar a:hover {
  color: #fff;
}
.topbar span {
  color: #424242;
  padding: 2px;
}
.topbar .nav-right {
  width: 120px;
  height: 40px;
  margin-left: 15px;
  text-align: center;
  background: #424242;
  position: relative;
}
.topbar .nav-right > .cart {
  display: block;
  position: relative;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.topbar .nav-right > .cart span {
  color: #b0b0b0;
  font-weight: 900;
  font-size: 18px;
  vertical-align: -3px;
}
.topbar .nav-right > .cart em {
  vertical-align: top;
}
.topbar .nav-right > .cart:hover {
  background: #fff;
  color: #ff6700;
}
.topbar .nav-right > .cart:hover span {
  color: #ff6700;
}
.topbar .nav-right > .cart:hover + .cartls {
  transition: all 2s;
  display: block;
}
.topbar .cartls {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  background-color: #fff !important;
  left: -196px;
  top: 40px;
  width: 316px;
  padding-top: 20px;
  color: #424242;
}
.topbar .cartls p {
  display: block;
  padding: 20px 0;
}
.topbar .cartls ul {
  display: none;
}
.topbar .cartls li {
  padding: 0 20px;
}
.topbar .cartls li > div {
  padding: 10px 0;
  height: 60px;
  border-top: 1px solid #e0e0e0;
  position: relative;
}
.topbar .cartls li > div:hover .iconclose {
  display: block;
  transition: all 0.2s;
}
.topbar .cartls li:first-child div {
  border-top: none;
}
.topbar .cartls li span {
  font-size: 12px;
  float: right;
  margin: 20px 20px 0 5px;
  line-height: 20px;
}
.topbar .cartls li a {
  color: #424242;
}
.topbar .cartls li a:nth-of-type(1) {
  width: 60px;
  float: left;
  margin-right: 10px;
}
.topbar .cartls li a:nth-of-type(2) {
  float: left;
  width: 95px;
  height: 40px;
  line-height: 20px;
  margin: 10px 0;
  overflow: hidden;
}
.topbar .cartls li .iconclose {
  color: #b0b0b0;
  line-height: 40px;
  position: absolute;
  right: 0;
  bottom: 17px;
  display: none;
}
.topbar .cartls img {
  height: 60px;
  width: 60px;
  display: block;
}
.topbar .cartls .carttotal {
  width: 276px;
  height: 43px;
  padding: 15px 20px;
  background: #fafafa;
}
.topbar .cartls .total {
  width: 135px;
  text-align: left;
  line-height: 1;
}
.topbar .cartls .total i {
  color: #757575;
  font-size: 12px;
}
.topbar .cartls .total span {
  float: left;
  width: 100%;
  font-size: 24px;
  padding: 0;
  color: #ff6700;
  line-height: 1;
  margin-top: 2px;
}
.topbar .cartls .count {
  float: right;
}
.topbar .cartls .count a {
  display: block;
  width: 130px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #f5f5f5;
  background: #ff6700;
}
.header-nav {
  height: 100px;
}
.header-nav .header-logo {
  margin-right: 30px;
}
.header-nav .header-logo a {
  margin-top: 22px;
  display: block;
  width: 55px;
  height: 55px;
  transition: all 0.2s;
  background: #ff6700 url(../img/logo.png) no-repeat -46px center;
}
.header-nav .header-logo a:hover {
  background: #ff6700 url(../img/logo.png) no-repeat 3px center;
}
.header-nav .header-nav-1 ul {
  float: left;
}
.header-nav .header-nav-1 ul > .goodsmore {
  width: 127px;
  height: 100px;
  line-height: 100px;
  padding-right: 10px;
  padding-left: 0;
  text-align: right;
  position: relative;
}
.header-nav .header-nav-1 ul > .goodsmore .more {
  display: block;
  opacity: 1;
  width: 127px;
  height: 100px;
  cursor: default;
}
.header-nav .header-nav-1 ul > .goodsmore:hover .left-nav {
  display: block;
}
.header-nav .header-nav-1 ul > li {
  height: 100px;
  line-height: 100px;
  float: left;
  padding: 0 10px;
}
.header-nav .header-nav-1 ul > li > a {
  font-size: 16px;
  color: #333;
}
.header-nav .header-nav-1 ul > li > a:hover {
  color: #ff6700;
}
.header-nav .left-nav {
  display: none;
  position: absolute;
  top: 100px;
  z-index: 20;
  right: -10px;
  width: 234px;
}
.header-nav .left-nav .category-item {
  text-align: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  position: relative;
  border: 1px solid #ff6700;
}
.header-nav .left-nav .category-item > li {
  width: 100%;
  height: 42px;
  padding-right: 0;
  box-sizing: border-box;
}
.header-nav .left-nav .category-item > li:hover {
  background-color: #ff6700;
}
.header-nav .left-nav .category-item > li:hover a {
  color: #fff;
}
.header-nav .left-nav .category-item > li > div[class^='category-item-r'] {
  position: absolute;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 600px;
  height: 460px;
  left: 230px;
  top: 0;
  display: none;
  box-shadow: 2px 8px 5px 1px rgba(0, 0, 0, 0.01);
}
.header-nav .left-nav .category-item > li > a {
  height: 42px;
  line-height: 42px;
  display: block;
  font-size: 14px;
  padding-left: 30px;
  color: #424242;
  position: relative;
}
.header-nav .left-nav .category-item > li > a > em {
  color: #e0e0e0;
  position: absolute;
  right: 20px;
}
.header-nav .search {
  height: 100px;
  line-height: 100px;
  position: relative;
}
.header-nav .search input:first-child {
  width: 243px;
  height: 48px;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
}
.header-nav .search input:last-child {
  margin-left: -5px;
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-left: none;
  background-color: #fff;
  vertical-align: middle;
}
.header-nav .search input:last-child:hover {
  background-color: #ff6700;
  transition: all 0.2s;
}
.header-nav .search .search-ls {
  display: none;
  width: 243px;
  position: absolute;
  left: 0;
  top: 75px;
  border: 1px solid #ff6700;
}
.header-nav .search .search-ls li {
  width: 100%;
}
.header-nav .search .search-ls li:hover {
  background-color: #f0f0f0;
}
.header-nav .search .search-ls li a {
  line-height: normal;
  display: block;
  padding: 6px 15px;
  font-size: 12px;
  color: #424242;
}
.title-top {
  width: 100%;
  height: 63px;
  box-shadow: 0 6px 4px 1px #eee;
}
.title-top .title-top-in {
  height: 60px;
  line-height: 60px;
}
.title-top .title-top-in p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: #424242;
  float: left;
}
.title-top .title-top-in span {
  color: #616161;
}
.title-top .title-top-in span:hover {
  color: #ff6700;
  cursor: pointer;
}
main {
  width: 100%;
}
.blank-t {
  width: 100%;
  height: 32px;
}
#swiper {
  width: 560px;
  height: 566px;
  position: relative;
}
#swiper ul {
  width: 100%;
  height: 100%;
}
#swiper ul li {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
#swiper ul li img {
  display: block;
  width: 560px;
  height: 566px;
}
#swiper ul .active {
  display: block;
}
#swiper span {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 41px;
  height: 69px;
  cursor: pointer;
}
#swiper .btl {
  background: url(http://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -84px center;
  left: 0;
}
#swiper .btl:hover {
  background: url(http://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat 0px center;
}
#swiper .btr {
  right: 0;
  background: url(http://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -125px center;
}
#swiper .btr:hover {
  background: url(http://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -41px center;
}
#swiper .btb {
  position: absolute;
  left: 125px;
  bottom: 20px;
}
#swiper .btb li {
  float: left;
  width: 50px;
  height: 3px;
  margin: 0 3px;
  background: #fff;
  cursor: pointer;
}
#swiper .btb .active {
  background: rgba(0, 0, 0, 0.4);
}
.shops {
  width: 600px;
}
.shops .info span {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}
.shops .info i {
  font-size: 20px;
  vertical-align: -3px;
  margin-right: 2px;
}
.goods {
  border-bottom: 1px solid #e0e0e0;
}
.goods-title {
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}
.goods-text {
  padding-top: 8px;
}
.goods-text i {
  color: #ff6700;
}
.tip {
  color: #ff6700;
  margin-top: 14px;
  margin-bottom: 12px;
}
.price {
  padding-bottom: 10px;
  margin-bottom: 12px;
}
.price span {
  color: #ff6700;
  font-size: 18px;
}
.price .origin-price {
  color: #b0b0b0;
}
.location {
  padding: 30px 50px;
  position: relative;
  margin-top: 21px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
}
.location i {
  font-size: 18px;
  position: absolute;
  left: 20px;
  top: 32px;
}
.location span {
  margin-right: 14px;
  color: #333;
}
.location a {
  color: #ff6700;
}
.select {
  margin-bottom: 30px;
}
.select .select-text {
  color: #333;
  font-size: 18px;
}
.select li {
  float: left;
  text-align: center;
  width: 292px;
  height: 42px;
  line-height: 42px;
  color: #757575;
  border: 1px solid #e0e0e0;
  margin-right: 12px;
  margin-top: 10px;
}
.select li:nth-of-type(even) {
  margin-right: 0;
}
.select .active {
  color: #ff6700;
  border: 1px solid #ff6700;
}
.result {
  padding: 30px;
  background-color: #fafafa;
  margin-bottom: 30px;
}
.result p {
  color: #333;
}
.result em {
  color: #616161;
}
.result em del {
  margin-left: 5px;
}
.result .count {
  padding-top: 20px;
  font-size: 24px;
  color: #ff6700;
}
.shopcart {
  margin-bottom: 20px;
}
.shopcart a {
  display: inline-block;
  font-size: 16px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  transition: background-color 0.5s;
}
.shopcart a:first-child {
  width: 298px;
  background-color: #ff6700;
  border: 1px solid #ff6700;
  color: #fff;
  margin-right: 10px;
}
.shopcart a:first-child:hover {
  background-color: #f25400;
}
.shopcart a:last-child {
  width: 140px;
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
  color: #fff;
}
.shopcart a:last-child span {
  font-size: 19px;
  margin-right: 5px;
  vertical-align: -2px;
}
.shopcart a:last-child:hover {
  background-color: #757575;
}
.block-bottom {
  width: 100%;
  height: 12px;
  border-bottom: 1px solid #ddd;
}
.datails-title {
  padding: 10px 0;
  height: 58px;
  font-size: 18px;
  line-height: 58px;
  text-align: center;
  color: #424242;
}
.datails-title .active {
  color: #ff6700;
}
.datails-title span {
  padding: 0 52px;
  border-right: 1px solid #e0e0e0;
}
.datails-title span:last-child {
  border-right: none;
}
.datails-title span:hover {
  color: #ff6700;
}
.datails-box {
  width: 100%;
  background-color: #f5f5f5;
}
