@charset "utf-8";
body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
table,
tr,
td,
form,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
img,
input {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  background: #fff;
  color: #b0b0b0;
}
body {
  display: flex;
  flex-direction: column;
}
img {
  display: block;
}
i,
b,
strong,
em {
  font-weight: normal;
  font-style: normal;
}
a {
  margin: 0;
  text-decoration: none;
  color: #333;
}
li,
ol {
  list-style: none;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content {
  width: 1226px;
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.shop {
  width: 100%;
}
header {
  width: 100%;
  margin-bottom: 26px;
}
.header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
}
.advertising {
  width: 100%;
  height: 120px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bb3c06a430689ba2357dd7d1fbfa6bab.jpg) center no-repeat;
  background-size: auto 120px;
}
.advertising > a {
  display: block;
  width: 100%;
  height: 100%;
}
.header-nav {
  height: 100px;
}
.header-nav .header-logo {
  margin-right: 179px;
}
.header-nav .header-logo a {
  margin-top: 22px;
  display: block;
  width: 55px;
  height: 55px;
  transition: all 0.2s;
  background: #ff6700 url(../img/logo.png) no-repeat -46px center;
}
.header-nav .header-logo a:hover {
  background: #ff6700 url(../img/logo.png) no-repeat 3px center;
}
.header-nav .header-nav-1 ul {
  float: left;
}
.header-nav .header-nav-1 ul > li {
  height: 100px;
  line-height: 100px;
  float: left;
  padding: 0 10px;
}
.header-nav .header-nav-1 ul > li > a {
  font-size: 16px;
  color: #333;
}
.header-nav .header-nav-1 ul > li > a:hover {
  color: #ff6700;
}
.header-nav .search {
  height: 100px;
  line-height: 100px;
  position: relative;
}
.header-nav .search input:first-child {
  width: 243px;
  height: 48px;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
}
.header-nav .search input:last-child {
  margin-left: -5px;
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-left: none;
  background-color: #fff;
  vertical-align: middle;
}
.header-nav .search input:last-child:hover {
  background-color: #ff6700;
  transition: all 0.2s;
}
.header-nav .search .search-ls {
  display: none;
  width: 243px;
  position: absolute;
  left: 0;
  top: 75px;
  border: 1px solid #ff6700;
}
.header-nav .search .search-ls li {
  width: 100%;
}
.header-nav .search .search-ls li:hover {
  background-color: #f0f0f0;
}
.header-nav .search .search-ls li a {
  line-height: normal;
  display: block;
  padding: 6px 15px;
  font-size: 12px;
  color: #424242;
}
.left-nav {
  width: 234px;
}
.category-item {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #b0b0b0;
  position: relative;
}
.category-item > li {
  width: 100%;
  height: 42px;
}
.category-item > li:hover {
  background-color: #ff6700;
}
.category-item > li > div[class^='category-item-r'] {
  position: absolute;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 600px;
  height: 460px;
  left: 230px;
  top: 0;
  display: none;
  box-shadow: 2px 8px 5px 1px rgba(0, 0, 0, 0.01);
}
.category-item > li > a {
  height: 42px;
  line-height: 42px;
  display: block;
  padding-left: 30px;
  color: #fff;
  position: relative;
}
.category-item > li > a > em {
  color: #e0e0e0;
  position: absolute;
  right: 20px;
}
.a1 {
  margin-top: 14px;
}
.a1-1 {
  width: 234px;
  height: 170px;
  box-sizing: border-box;
  padding: 3px;
  background-color: #665e57;
  margin-right: 14px;
}
.a1-1 li {
  box-sizing: border-box;
  padding: 0 3px;
  height: 82px;
  text-align: center;
  float: left;
}
.a1-1 li a {
  display: block;
  padding-top: 18px;
  color: rgba(255, 255, 255, 0.7);
}
.a1-1 li a img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 23px 4px;
}
.a1-1 li a:hover {
  color: #fff;
}
.a1-2,
.a1-3,
.a1-4 {
  width: 316px;
  height: 170px;
  margin-right: 15px;
}
.a1-2 a > img,
.a1-3 a > img,
.a1-4 a > img {
  display: block;
  width: 100%;
  height: 100%;
}
.a1-4 {
  margin-right: 0;
}
main {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 12px;
}
.seckill {
  width: 234px;
  padding-top: 39px;
  box-shadow: 0px 1px 0px 0px #ff6700 inset;
  text-align: center;
  background: #f1eded;
}
.seckill > img {
  display: block;
  width: 34px;
  height: 53px;
  margin: 25px auto;
}
.seckill > p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}
.countime {
  font-size: 21px;
  color: #ef3a3b;
  width: 100%;
  height: 46px;
  line-height: 46px;
}
.countdown {
  width: 168px;
  height: 46px;
  margin: 28px auto 58px;
}
.countdown > span {
  float: left;
  width: 46px;
  height: 46px;
  line-height: 46px;
  background: #605751;
  color: #fff;
  font-size: 24px;
}
.countdown > i {
  width: 15px;
  float: left;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
}
.b1-1 {
  width: 100%;
  height: 100px;
}
.b1-2 {
  width: 234px;
  height: 340px;
  border: 1px solid #000;
}
.b1-3 {
  width: 978px;
  height: 340px;
  overflow: hidden;
}
.b1-3 > ul {
  width: 5000px;
}
.b1-3 > ul > li {
  box-shadow: 0px 1px 0px 0px #ff6700 inset;
  width: 234px;
  float: left;
  margin-right: 14px;
  text-align: center;
  background-color: #fff;
}
.b1-3 > ul > li > a {
  height: 339px;
  width: 100%;
  display: block;
  padding-top: 39px;
}
.b1-3 > ul > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 37px 22px;
}
.b1-3 > ul > li > a > h3 {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.b1-3 > ul > li > a > p {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.b1-3 > ul > li > a span {
  color: #ff6700;
  font-size: 16px;
}
.b1-3 > ul > li > a del {
  font-size: 16px;
}
.b1-3 > ul > li:last-child {
  margin-right: 0;
}
.aditem {
  height: 120px;
  margin: 22px auto;
}
.aditem img {
  width: 100%;
  height: 120px;
}
.cphone-t {
  width: 100%;
  height: 100px;
}
.cphone-l {
  width: 234px;
  height: 614px;
  transition: all 0.2s;
}
.cphone-l:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.cphone-l img {
  display: block;
  width: 234px;
  height: 614px;
}
.cphone-r-item {
  width: 978px;
  text-align: center;
}
.cphone-r-item > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.cphone-r-item > li:first-child,
.cphone-r-item > li:nth-of-type(5) {
  margin-left: 0;
}
.cphone-r-item > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.cphone-r-item > li > a {
  display: block;
}
.cphone-r-item > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.cphone-r-item > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.cphone-r-item > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.cphone-r-item > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.dhouseapp-t {
  width: 100%;
  height: 100px;
}
.dhouseapp-l {
  width: 234px;
  height: 614px;
}
.dhouseapp-l > div {
  transition: all 0.2s;
  margin-bottom: 14px;
}
.dhouseapp-l > div:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.dhouseapp-l > div img {
  display: block;
  width: 234px;
  height: 300px;
}
.dhouseapp-r {
  width: 978px;
  text-align: center;
  position: relative;
}
.dhouseapp-r-item-1 {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}
.dhouseapp-r-item-1 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.dhouseapp-r-item-1 > li:first-child,
.dhouseapp-r-item-1 > li:nth-of-type(5) {
  margin-left: 0;
}
.dhouseapp-r-item-1 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.dhouseapp-r-item-1 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.dhouseapp-r-item-1 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.dhouseapp-r-item-1 > li > a {
  display: block;
}
.dhouseapp-r-item-1 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.dhouseapp-r-item-1 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.dhouseapp-r-item-1 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.dhouseapp-r-item-1 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.dhouseapp-r-item-1 > li > a .price > del {
  color: #b0b0b0;
  margin-left: 7px;
}
.dhouseapp-r-item-m1 {
  background-color: #fff;
  width: 100%;
  height: 143px;
  margin-bottom: 14px;
}
.dhouseapp-r-item-m1:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.dhouseapp-r-item-m1 div:first-child {
  width: 50%;
  height: 123px;
  text-align: left;
}
.dhouseapp-r-item-m1 div:first-child h3 {
  color: #333;
  margin: 42px 0px 5px 23px;
  font-size: 14px;
  font-weight: 400;
}
.dhouseapp-r-item-m1 div:first-child p {
  color: #ff6700;
  margin-left: 23px;
}
.dhouseapp-r-item-m1 div:last-child > img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 32px 18px;
}
.dhouseapp-r-item-m2 {
  background-color: #fff;
  width: 100%;
  height: 143px;
}
.dhouseapp-r-item-m2:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.dhouseapp-r-item-m2 div:first-child {
  width: 50%;
  height: 123px;
  text-align: left;
}
.dhouseapp-r-item-m2 div:first-child h3 {
  color: #333;
  margin: 50px 0px 5px 23px;
  font-size: 18px;
  font-weight: 400;
}
.dhouseapp-r-item-m2 div:first-child p {
  font-size: 12px;
  margin-left: 23px;
}
.dhouseapp-r-item-m2 div:last-child {
  width: 50%;
  margin-top: 40px ;
}
.dhouseapp-r-item-m2 div:last-child span {
  font-size: 60px;
  color: #ff6700;
}
.dhouseapp-r-item-2 {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.dhouseapp-r-item-2 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.dhouseapp-r-item-2 > li:first-child,
.dhouseapp-r-item-2 > li:nth-of-type(5) {
  margin-left: 0;
}
.dhouseapp-r-item-2 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.dhouseapp-r-item-2 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.dhouseapp-r-item-2 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.dhouseapp-r-item-2 > li > a {
  display: block;
}
.dhouseapp-r-item-2 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.dhouseapp-r-item-2 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.dhouseapp-r-item-2 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.dhouseapp-r-item-2 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.dhouseapp-r-item-2 > li > a .price > del {
  color: #b0b0b0;
  margin-left: 7px;
}
.esmart-t {
  width: 100%;
  height: 100px;
}
.esmart-l {
  width: 234px;
  height: 614px;
}
.esmart-l > div {
  transition: all 0.2s;
  margin-bottom: 14px;
}
.esmart-l > div:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.esmart-l > div img {
  display: block;
  width: 234px;
  height: 300px;
}
.esmart-r {
  width: 978px;
  text-align: center;
  position: relative;
}
.esmart-r-item-1 {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}
.esmart-r-item-1 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.esmart-r-item-1 > li:first-child,
.esmart-r-item-1 > li:nth-of-type(5) {
  margin-left: 0;
}
.esmart-r-item-1 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.esmart-r-item-1 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.esmart-r-item-1 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.esmart-r-item-1 > li > a {
  display: block;
}
.esmart-r-item-1 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.esmart-r-item-1 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.esmart-r-item-1 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.esmart-r-item-1 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.esmart-r-item-1 > li > a .price > del {
  color: #b0b0b0;
  margin-left: 7px;
}
.esmart-r-item-2 {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.esmart-r-item-2 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.esmart-r-item-2 > li:first-child,
.esmart-r-item-2 > li:nth-of-type(5) {
  margin-left: 0;
}
.esmart-r-item-2 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.esmart-r-item-2 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.esmart-r-item-2 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.esmart-r-item-2 > li > a {
  display: block;
}
.esmart-r-item-2 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.esmart-r-item-2 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.esmart-r-item-2 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.esmart-r-item-2 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.esmart-r-item-2 > li > a .price > del {
  color: #b0b0b0;
  margin-left: 7px;
}
.esmart-r-item-3 {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.esmart-r-item-3 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.esmart-r-item-3 > li:first-child,
.esmart-r-item-3 > li:nth-of-type(5) {
  margin-left: 0;
}
.esmart-r-item-3 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.esmart-r-item-3 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.esmart-r-item-3 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.esmart-r-item-3 > li > a {
  display: block;
}
.esmart-r-item-3 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.esmart-r-item-3 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.esmart-r-item-3 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.esmart-r-item-3 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.esmart-r-item-3 > li > a .price > del {
  color: #b0b0b0;
  margin-left: 7px;
}
.esmart-r-item-m1 {
  background-color: #fff;
  width: 100%;
  height: 143px;
  margin-bottom: 14px;
}
.esmart-r-item-m1:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.esmart-r-item-m1 div:first-child {
  width: 50%;
  height: 123px;
  text-align: left;
}
.esmart-r-item-m1 div:first-child h3 {
  color: #333;
  margin: 42px 0px 5px 23px;
  font-size: 14px;
  font-weight: 400;
}
.esmart-r-item-m1 div:first-child p {
  color: #ff6700;
  margin-left: 23px;
}
.esmart-r-item-m1 div:last-child > img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 32px 18px;
}
.esmart-r-item-m2 {
  background-color: #fff;
  width: 100%;
  height: 143px;
}
.esmart-r-item-m2:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.esmart-r-item-m2 div:first-child {
  width: 50%;
  height: 123px;
  text-align: left;
}
.esmart-r-item-m2 div:first-child h3 {
  color: #333;
  margin: 50px 0px 5px 23px;
  font-size: 18px;
  font-weight: 400;
}
.esmart-r-item-m2 div:first-child p {
  font-size: 12px;
  margin-left: 23px;
}
.esmart-r-item-m2 div:last-child {
  width: 50%;
  margin-top: 40px ;
}
.esmart-r-item-m2 div:last-child span {
  font-size: 60px;
  color: #ff6700;
}
.fmatch-t {
  width: 100%;
  height: 100px;
}
.fmatch-l {
  width: 234px;
  height: 614px;
}
.fmatch-l > div {
  transition: all 0.2s;
  margin-bottom: 14px;
}
.fmatch-l > div:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.fmatch-l > div img {
  display: block;
  width: 234px;
  height: 300px;
}
.fmatch-r {
  width: 978px;
  text-align: center;
  position: relative;
}
.fmatch-r-item-1 {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}
.fmatch-r-item-1 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.fmatch-r-item-1 > li:first-child,
.fmatch-r-item-1 > li:nth-of-type(5) {
  margin-left: 0;
}
.fmatch-r-item-1 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.fmatch-r-item-1 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.fmatch-r-item-1 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.fmatch-r-item-1 > li > a {
  display: block;
}
.fmatch-r-item-1 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.fmatch-r-item-1 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.fmatch-r-item-1 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.fmatch-r-item-1 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.fmatch-r-item-1 > li > a .price > del {
  color: #b0b0b0;
  margin-left: 7px;
}
.fmatch-r-item-2 {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.fmatch-r-item-2 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.fmatch-r-item-2 > li:first-child,
.fmatch-r-item-2 > li:nth-of-type(5) {
  margin-left: 0;
}
.fmatch-r-item-2 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.fmatch-r-item-2 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.fmatch-r-item-2 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.fmatch-r-item-2 > li > a {
  display: block;
}
.fmatch-r-item-2 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.fmatch-r-item-2 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.fmatch-r-item-2 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.fmatch-r-item-2 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.fmatch-r-item-2 > li > a .price > del {
  color: #b0b0b0;
  margin-left: 7px;
}
.fmatch-r-item-m1 {
  background-color: #fff;
  width: 100%;
  height: 143px;
  margin-bottom: 14px;
}
.fmatch-r-item-m1:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.fmatch-r-item-m1 div:first-child {
  width: 50%;
  height: 123px;
  text-align: left;
}
.fmatch-r-item-m1 div:first-child h3 {
  color: #333;
  margin: 42px 0px 5px 23px;
  font-size: 14px;
  font-weight: 400;
}
.fmatch-r-item-m1 div:first-child p {
  color: #ff6700;
  margin-left: 23px;
}
.fmatch-r-item-m1 div:last-child > img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 32px 18px;
}
.fmatch-r-item-m2 {
  background-color: #fff;
  width: 100%;
  height: 143px;
}
.fmatch-r-item-m2:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.fmatch-r-item-m2 div:first-child {
  width: 50%;
  height: 123px;
  text-align: left;
}
.fmatch-r-item-m2 div:first-child h3 {
  color: #333;
  margin: 50px 0px 5px 23px;
  font-size: 18px;
  font-weight: 400;
}
.fmatch-r-item-m2 div:first-child p {
  font-size: 12px;
  margin-left: 23px;
}
.fmatch-r-item-m2 div:last-child {
  width: 50%;
  margin-top: 40px ;
}
.fmatch-r-item-m2 div:last-child span {
  font-size: 60px;
  color: #ff6700;
}
.gfittings-t {
  width: 100%;
  height: 100px;
}
.gfittings-l {
  width: 234px;
  height: 614px;
}
.gfittings-l > div {
  transition: all 0.2s;
  margin-bottom: 14px;
}
.gfittings-l > div:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.gfittings-l > div img {
  display: block;
  width: 234px;
  height: 300px;
}
.gfittings-r {
  width: 978px;
  text-align: center;
  position: relative;
}
.gfittings-r-item-1 {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}
.gfittings-r-item-1 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.gfittings-r-item-1 > li:first-child,
.gfittings-r-item-1 > li:nth-of-type(5) {
  margin-left: 0;
}
.gfittings-r-item-1 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.gfittings-r-item-1 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.gfittings-r-item-1 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.gfittings-r-item-1 > li > a {
  display: block;
}
.gfittings-r-item-1 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.gfittings-r-item-1 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.gfittings-r-item-1 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.gfittings-r-item-1 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.gfittings-r-item-2 {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.gfittings-r-item-2 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.gfittings-r-item-2 > li:first-child,
.gfittings-r-item-2 > li:nth-of-type(5) {
  margin-left: 0;
}
.gfittings-r-item-2 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.gfittings-r-item-2 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.gfittings-r-item-2 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.gfittings-r-item-2 > li > a {
  display: block;
}
.gfittings-r-item-2 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.gfittings-r-item-2 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.gfittings-r-item-2 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.gfittings-r-item-2 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.gfittings-r-item-m1 {
  background-color: #fff;
  width: 100%;
  height: 143px;
  margin-bottom: 14px;
}
.gfittings-r-item-m1:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.gfittings-r-item-m1 div:first-child {
  width: 50%;
  height: 123px;
  text-align: left;
}
.gfittings-r-item-m1 div:first-child h3 {
  color: #333;
  margin: 42px 0px 5px 23px;
  font-size: 14px;
  font-weight: 400;
}
.gfittings-r-item-m1 div:first-child p {
  color: #ff6700;
  margin-left: 23px;
}
.gfittings-r-item-m1 div:last-child > img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 32px 18px;
}
.gfittings-r-item-m2 {
  background-color: #fff;
  width: 100%;
  height: 143px;
}
.gfittings-r-item-m2:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.gfittings-r-item-m2 div:first-child {
  width: 50%;
  height: 123px;
  text-align: left;
}
.gfittings-r-item-m2 div:first-child h3 {
  color: #333;
  margin: 50px 0px 5px 23px;
  font-size: 18px;
  font-weight: 400;
}
.gfittings-r-item-m2 div:first-child p {
  font-size: 12px;
  margin-left: 23px;
}
.gfittings-r-item-m2 div:last-child {
  width: 50%;
  margin-top: 40px ;
}
.gfittings-r-item-m2 div:last-child span {
  font-size: 60px;
  color: #ff6700;
}
.hproduct-t {
  width: 100%;
  height: 100px;
}
.hproduct-l {
  width: 234px;
  height: 614px;
}
.hproduct-l > div {
  transition: all 0.2s;
  margin-bottom: 14px;
}
.hproduct-l > div:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.hproduct-l > div img {
  display: block;
  width: 234px;
  height: 300px;
}
.hproduct-r {
  width: 978px;
  text-align: center;
  position: relative;
}
.hproduct-r-item-1 {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}
.hproduct-r-item-1 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.hproduct-r-item-1 > li:first-child,
.hproduct-r-item-1 > li:nth-of-type(5) {
  margin-left: 0;
}
.hproduct-r-item-1 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.hproduct-r-item-1 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.hproduct-r-item-1 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.hproduct-r-item-1 > li > a {
  display: block;
}
.hproduct-r-item-1 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.hproduct-r-item-1 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.hproduct-r-item-1 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.hproduct-r-item-1 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.hproduct-r-item-2 {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.hproduct-r-item-2 > li {
  background: #fff;
  float: left;
  height: 260px;
  width: 234px;
  padding: 20px 0;
  transition: all 0.2s;
  margin-left: 14px;
  margin-bottom: 14px;
}
.hproduct-r-item-2 > li:first-child,
.hproduct-r-item-2 > li:nth-of-type(5) {
  margin-left: 0;
}
.hproduct-r-item-2 > li:last-child {
  background-color: #f5f5f5;
  padding: 0;
}
.hproduct-r-item-2 > li:last-child:hover {
  transform: none;
  box-shadow: none;
}
.hproduct-r-item-2 > li:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.hproduct-r-item-2 > li > a {
  display: block;
}
.hproduct-r-item-2 > li > a > img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 18px;
}
.hproduct-r-item-2 > li > a > h3 {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}
.hproduct-r-item-2 > li > a p {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.hproduct-r-item-2 > li > a .price {
  color: #ff6700;
  margin: 0 10px 14px;
}
.hproduct-r-item-m1 {
  background-color: #fff;
  width: 100%;
  height: 143px;
  margin-bottom: 14px;
}
.hproduct-r-item-m1:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.hproduct-r-item-m1 div:first-child {
  width: 50%;
  height: 123px;
  text-align: left;
}
.hproduct-r-item-m1 div:first-child h3 {
  color: #333;
  margin: 42px 0px 5px 23px;
  font-size: 14px;
  font-weight: 400;
}
.hproduct-r-item-m1 div:first-child p {
  color: #ff6700;
  margin-left: 23px;
}
.hproduct-r-item-m1 div:last-child > img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 32px 18px;
}
.hproduct-r-item-m2 {
  background-color: #fff;
  width: 100%;
  height: 143px;
}
.hproduct-r-item-m2:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.hproduct-r-item-m2 div:first-child {
  width: 50%;
  height: 123px;
  text-align: left;
}
.hproduct-r-item-m2 div:first-child h3 {
  color: #333;
  margin: 50px 0px 5px 23px;
  font-size: 18px;
  font-weight: 400;
}
.hproduct-r-item-m2 div:first-child p {
  font-size: 12px;
  margin-left: 23px;
}
.hproduct-r-item-m2 div:last-child {
  width: 50%;
  margin-top: 40px ;
}
.hproduct-r-item-m2 div:last-child span {
  font-size: 60px;
  color: #ff6700;
}
.ivideo-ls > div {
  float: left;
  width: 296px;
  height: 285px;
  margin-right: 14px;
  margin-bottom: 14px;
  position: relative;
  background-color: #fff;
  text-align: center;
}
.ivideo-ls > div:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
  transition: all 0.2s;
}
.ivideo-ls > div:hover span {
  background-color: #ff6700;
}
.ivideo-ls > div:last-child {
  margin-right: 0;
}
.ivideo-ls > div img {
  width: 296px;
}
.ivideo-ls > div h3 {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  margin: 28px 14px 6px 14px;
}
.ivideo-ls > div p {
  color: #b0b0b0;
  font-size: 12px;
  margin: 0 14px;
}
.ivideo-ls > div span {
  position: absolute;
  left: 20px;
  top: 145px;
  text-indent: 10px;
  width: 32px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: all 0.1s;
}
.ivideo-ls > div span i {
  font-size: 12px;
}
footer {
  width: 100%;
}
.ftservice {
  text-align: center;
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
.ftservice li {
  width: 20%;
  float: left;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
}
.ftservice li a {
  font-size: 16px;
  color: #616161;
  transition: color 0.2s;
}
.ftservice li a i {
  margin-right: 6px;
  font-size: 20px;
  vertical-align: -2px;
}
.ftservice li a:hover {
  color: #ff6700;
}
.ftservice li:last-child {
  border: none;
}
.ftservice li > span {
  position: absolute;
  right: 0;
}
.ftlink {
  padding: 40px 0;
}
.ftlink-ls > div {
  float: left;
}
.ftlink-ls > div .title {
  width: 160px;
  margin-bottom: 27px;
  margin-top: 0;
  font-size: 14px;
  color: #424242;
}
.ftlink-ls > div li {
  width: 160px;
  margin-top: 10px;
}
.ftlink-ls > div li a {
  font-size: 12px;
  color: #757575;
}
.ftlink-ls > div li a:hover {
  color: #ff6700;
}
.ftlink-m {
  width: 252px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
}
.ftlink-m > h3 {
  color: #ff6700;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 5px;
}
.ftlink-m > p {
  margin-bottom: 5px;
  font-size: 12px;
  color: #616161;
}
.ftlink-m .customer {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  margin: 1px;
  border: 1px solid #ff6700;
  color: #ff6700;
  font-size: 12px;
  background-color: #fff;
}
.ftlink-m .customer:hover {
  background-color: #ff6700;
  color: #fff;
  transition: all 0.2s;
}
.ftlink-m > div {
  margin-top: 10px;
  color: #616161;
  font-size: 12px;
}
.ftlink-m > div a {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 6px;
  margin-top: -3px;
  background-size: cover;
  vertical-align: middle;
}
.ftlink-m > div a:hover {
  color: #ff6700;
}
.ftlink-m > div a:nth-of-type(1) {
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wb.png) 50% 0 no-repeat;
  background-size: cover;
}
.ftlink-m > div a:nth-of-type(2) {
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wx.png) 50% 0 no-repeat;
  background-size: cover;
}
.site-info {
  padding: 30px;
  background-color: #fafafa;
  font-size: 12px;
}
.info-text {
  padding-left: 67px;
  color: #b0b0b0;
}
.info-text .sites > a {
  color: #757575;
  font-size: 12px;
}
.info-text p {
  line-height: 18px;
}
.info-text p > a {
  color: #b0b0b0;
  font-size: 12px;
}
.info-links {
  margin-top: 4px;
  margin-bottom: 15px;
  height: 28px;
}
.info-links a {
  display: inline-block;
  width: 85px;
  height: 33px;
}
.info-links a img {
  display: block;
  width: 85px;
  height: 28px;
}
.info-links a:last-child {
  width: 150px;
  height: 40px;
}
.info-links a:last-child img {
  display: block;
  width: 106px;
  height: 40px;
}
.slogan {
  width: 100%;
  height: 19px;
  margin-top: 30px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png) no-repeat center;
}
.home-tool-bar {
  width: 84px;
  position: fixed;
  right: 0;
  top: 10%;
}
.home-tool-bar ul {
  border: 1px solid #f5f5f5;
  border-bottom: none;
  background-color: #fff;
}
.home-tool-bar li {
  width: 82px;
  height: 90px;
  margin: 1px;
  border-bottom: 1px solid #f5f5f5;
}
.home-tool-bar li a {
  text-align: center;
  color: #757575;
  transition: color 0.3s;
}
.home-tool-bar li a:hover {
  color: #ff6700;
}
.home-tool-bar li a img {
  padding-top: 18px;
  margin: 0 auto 8px;
  width: 30px;
  height: 30px;
}
.totop {
  border: 1px solid #f5f5f5;
  margin-top: 14px;
  background-color: #fff;
}
.totop a {
  display: block;
  width: 82px;
  height: 90px;
  margin: 1px;
  text-align: center;
  color: #757575;
  transition: color 0.3s;
}
.totop a:hover {
  color: #ff6700;
}
.totop a img {
  padding-top: 18px;
  margin: 0 auto 8px;
  width: 30px;
  height: 30px;
}
.static {
  display: block;
}
.hover {
  display: none;
}
.topbar a {
  color: #b0b0b0;
  font-size: 12px;
}
.topbar a:hover {
  color: #fff;
}
.topbar span {
  color: #424242;
  padding: 2px;
}
.topbar .nav-right {
  width: 120px;
  height: 40px;
  margin-left: 15px;
  text-align: center;
  background: #424242;
  position: relative;
}
.topbar .nav-right > a {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.topbar .nav-right > a span {
  color: #b0b0b0;
  font-weight: 900;
  font-size: 18px;
  vertical-align: -3px;
}
.topbar .nav-right > a em {
  vertical-align: top;
}
.topbar .nav-right > a:hover {
  background: #fff;
  color: #ff6700;
}
.topbar .nav-right > a:hover span {
  color: #ff6700;
}
.topbar .cartls {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  left: -196px;
  top: 40px;
  border: 1px solid #000;
  width: 316px;
  height: 300px;
  padding-top: 20px;
  color: #424242;
}
.topbar .cartls li {
  padding: 0 20px;
}
.topbar .cartls li > div {
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
}
.topbar .cartls li:first-child div {
  border-top: none;
}
.topbar .cartls img {
  height: 60px;
  width: 60px;
  display: block;
}
